.nomQuestion {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh 2vw;
}

.addQuestion {
    width: 100%;
    text-align: center;
}

.questionCree {
    display: flex;
    width: 100%;
}

.addNewQuestion {
    display: flex;

}

.btnCree {
    display: flex;
    justify-content: flex-end;
    margin: 2vh 2vw;
}

.selectFormation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 3vh;
}

.listFormation {
    width: 35vw;
}

.selectEtudiant {
    overflow-y: scroll;
    height: 70vh;
}

.etudiantSearchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 5vh;
}

.etudiantTransfer {
    justify-content: center;
    align-items: center;
    gap: 2vw;
}


@media (max-width: 670px) {
    .sectionQuestionnaire {
        flex-direction: column-reverse;
    }

    .flexL {
        margin-bottom: 7.5vh;
    }

    .flexR {
        border-top: 1px solid black ;
        padding-top: 1vh;
    }

    .addNewQuestion {
        display: flex;
        justify-content: center;
    }

    .btnCree {
        display: flex;
        justify-content: center;
    }

    .nomQuestion {
        max-width: 98vw;
    }
}