.nomQuestion {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh 2vw;
}

.addQuestion {
    width: 100%;
    text-align: center;
}

.questionCree {
    display: flex;
    width: 100%;
}

.questionList {
    height: 56.5vh;
    overflow: hidden;
    scrollbar-gutter: stable;
}

.questionList:hover {
    overflow-y: scroll;
}

.addNewQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newQuestion {
    width: 40vw;
}

#btnCreeQuestion {
    width: 30vw;
    margin-top: 2vh;
}

.btnCree {
    display: flex;
    justify-content: center;
    margin: 4vh 2vw;
}

.selectFormation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 3vh;
}

.selectFormation h3 {
    margin-top: 2vh;
}

.listFormation {
    width: 35vw;
}

.selectEtudiant {
    height: 70vh;
}

.etudiantSearchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 5vh;
}

.etudiantTransfer {
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.alertPopUp {
    height: 47px;
    overflow: hidden;
}


@media (max-width: 670px) {
    .sectionQuestionnaire {
        flex-direction: column-reverse;
    }

    .flexL {
        margin-bottom: 7.5vh;
    }

    .flexR {
        border-top: 1px solid black;
        padding-top: 1vh;
    }

    .addNewQuestion {
        display: flex;
        justify-content: center;
    }

    .btnCree {
        display: flex;
        justify-content: center;
    }

    #btnCreeQuestion {
        width: 70vw;
    }

    .nomQuestion {
        max-width: 98vw;
    }
}