.nomQuestion {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2vh 2vw;
}

.addQuestion {
    width: 100%;
    text-align: center;
}

.questionCree{
    display: flex;
    width: 100%;
}

.btnCree{
    display: flex;
    justify-content: flex-end;
    margin: 2vh 2vw;
}