.sectionQuestionnaire {
    display: flex;
    flex-direction: row;
}

.graphique {
    margin: auto;
    width: 65%;
}

.listQuestionnaire {
    border-top: solid black 1px;
}

.questionList {
    height: 62.5vh;
    overflow-y: scroll;
}

.btnEnvoyer {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    margin-right: 1vw;
}

.questionnaireListe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    gap: 1vh;
    width: 50vw;
    height: 50vh;
    overflow-y: scroll;
}

.divR {
    display: block;
}

#questionnaireBtn {
    color: black;
    width: 30vw;
}

#questionnaireBtn:hover {
    background-color: lightblue;
}

@media (max-width: 670px) {
    #flexLQ {
        display: flex;
        flex-direction: column;
    }
    #flexRQ {
        display: flex;
        flex-direction: column-reverse;
    }

    .questionnaireListe {
        border-top: none;
        width: 100vw;}
        .btnEnvoyer {
         margin-right: 4vw;
    }
    .listQuestionnaire {
        border-top: none;
    }
 }