.sectionQuestionnaire {
    display: flex;
}

.graphique {
    margin: auto;
    width: 65%;
}

.listQuestionnaire {
    border-top: solid black 1px;
}

.questionList {
    height: 62.5vh;
    overflow-y: scroll;
}

.btnEnvoyer {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;
    margin-right: 1vw;
}

.questionnaireListe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    gap: 1vh;
    height: 50vh;
    overflow-y: scroll;
}


#questionnaireBtn {
    color: black;
    width: 30vw;
}

#questionnaireBtn:hover {
    background-color: lightblue;
}